.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header img {
    padding-top: 50px;
    width: 400px;
    height: auto;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-left: 500px;
    padding-right: 500px;
}

.ingredients-directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.ingredients-directions li, ol {
    text-align: left;
}

.ingredients-directions ol {
    padding-left: 100px;
}

.header a {
    text-decoration: none;  
    color: white;
}

.header button {
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(98, 30, 161);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}